In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,2022-01-26 03:48:55,69.7008,170.3133,-35.09,100,74,3.62
1,1,Avarua,CK,2022-01-26 03:48:56,-21.2078,-159.7750,80.65,83,75,8.05
2,2,Yulara,AU,2022-01-26 03:48:56,-25.2406,130.9889,96.64,32,100,10.36
3,3,Adrar,MR,2022-01-26 03:48:57,20.5022,-10.0711,63.18,18,100,4.21
4,4,East London,ZA,2022-01-26 03:48:57,-33.0153,27.9116,70.74,94,75,3.44

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature if temp negative number
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2022-01-26 03:48:56,-21.2078,-159.7750,80.65,83,75,8.05
5,5,Kavieng,PG,2022-01-26 03:48:57,-2.5744,150.7967,84.20,73,92,7.11
12,12,Bambous Virieux,MU,2022-01-26 03:49:01,-20.3428,57.7575,80.22,69,75,10.36
20,20,Busselton,AU,2022-01-26 03:49:04,-33.6500,115.3333,77.86,40,11,5.64
30,30,Arraial Do Cabo,BR,2022-01-26 03:49:08,-22.9661,-42.0278,75.04,91,0,16.67
32,32,Vaini,TO,2022-01-26 03:49:09,-21.2000,-175.2000,86.16,74,20,9.22
40,40,Panguna,PG,2022-01-26 03:49:12,-6.3164,155.4848,76.12,87,97,1.16
41,41,Axim,GH,2022-01-26 03:49:12,4.8699,-2.2405,76.12,87,4,1.83
50,50,Noumea,NC,2022-01-26 03:50:16,-22.2763,166.4572,84.00,99,86,10.67
51,51,Cayenne,GF,2022-01-26 03:50:17,4.9333,-52.3333,75.24,94,20,0.00

In [19]:
preferred_cities_df.count()

City_ID       130
City          130
Country       130
Date          130
Lat           130
Lng           130
Max Temp      130
Humidity      130
Cloudiness    130
Wind Speed    130
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
# Create dataframe called hotel_df to store hotel names
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Avarua      CK     80.65 -21.2078 -159.7750
5           Kavieng      PG     84.20  -2.5744  150.7967
12  Bambous Virieux      MU     80.22 -20.3428   57.7575
20        Busselton      AU     77.86 -33.6500  115.3333
30  Arraial Do Cabo      BR     75.04 -22.9661  -42.0278
32            Vaini      TO     86.16 -21.2000 -175.2000
40          Panguna      PG     76.12  -6.3164  155.4848
41             Axim      GH     76.12   4.8699   -2.2405
50           Noumea      NC     84.00 -22.2763  166.4572
51          Cayenne      GF     75.24   4.9333  -52.3333

In [23]:
# Set parameters to search for a hotel
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [26]:
# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
5,Kavieng,PG,84.20,-2.5744,150.7967,Nusa Island Retreat
12,Bambous Virieux,MU,80.22,-20.3428,57.7575,Casa Tia Villa
20,Busselton,AU,77.86,-33.6500,115.3333,Observatory Guest House
30,Arraial Do Cabo,BR,75.04,-22.9661,-42.0278,Pousada Porto Praia
32,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
40,Panguna,PG,76.12,-6.3164,155.4848,
41,Axim,GH,76.12,4.8699,-2.2405,Axim Beach Resort And Spa
50,Noumea,NC,84.00,-22.2763,166.4572,Hôtel Le Lagon
51,Cayenne,GF,75.24,4.9333,-52.3333,Hôtel Le Dronmi

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]